
#message_block{
  margin-top:2px;
  width:100%;
}

#message_head_A{
  align-self:flex-end;
  text-align: right;
  font-size:10px;
  width:100%;
  font-weight: 500; 
  margin-bottom:3px;
  margin-right: 5px;
  color: var(--room_hf);
}

#message_head_B{
  align-self:flex-start;
  text-align: left;
  width:100%;
  font-size:10px;
  font-weight: 500;
  margin-bottom:3px; 
  margin-left: 10px;
  color: var(--room_hf2);
}

#message_bubble_A{
  word-wrap: break-word;
  max-width: 70%;
  background-color: var(--room_bubble1);
  color:var(--room_font_b1);
  height:fit-content;
  width:fit-content;
  margin-top:7px;
  padding:3px 10px 10px 10px;
  font-size:max(15px,0.9vw);
  align-self:flex-end;
  margin-right: 10px;
  border-radius: 3px;
  font-weight:550;
  text-align:right;
}

#message_bubble_B{
  word-wrap: break-word;
  background-color:var(--room_bubble2);
  color:var(--room_font_b2);
  font-weight:600;
  height:fit-content;
  padding:3px 10px 10px 10px;
  max-width: 70%;
  font-size:max(15px,0.9vw);
  width:fit-content;
  margin-left:5px;
  margin-top:7px;
  border-radius: 3px;
}

#chat_info{
  font-size:10px;
  align-items: left;
}