.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--chat_bg);
    z-index:10;
  }
  
  .chat__header {
    padding: 10px;
    background-color:var(--chat_head);;
    height:50px;
  }
  
 #header_text{
    font-weight: 500;
    color: white;
    font-size:17px;
  }
  
  #message_input_block{
    margin-top:10px;
    width:100%;

  }
  
  #message_input {
    font-size: 14px;
    background-color:var(--room_h3); 
    color:var(--room_hf2);
    padding:3px;
    width:90%;
    height:30px;
    border-radius:5px;
    margin-top:10px;
    margin-bottom: 10px;;
    margin-left:10%;
    word-wrap: break-word;
    font-family:"Roboto";
    border: solid 5px var(--room_h2);
    z-index:1;
  }
  
  #message_util {
    font-size: 20px;
    color:var(--room_hf2);
    width: 40px;
    height:30px;
    padding:5px;
    margin-top:10px;
    text-align: center;
    background-color: var(--room_h2);
    border-bottom: solid 6px var(--room_h2);
    z-index:5;
  }

  
#chat_util :hover{
    transform : scale(1.1);
  }

  #chat__messages {
    flex: 1;
    margin-top:10px;
    overflow-y: scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
  }
  
#video_action{
  position:fixed;
  right:5px;
  top:15px;
  background:var(--room_h2);
  font-size:15px;
  color:var(--room_hf2);
}

#join_action{
  position:fixed;
  right:75px;
  top:15px;
  background:var(--room_h2);
  font-size:15px;
  color:var(--room_hf2);
}

#back_action{
  position:fixed;
  right:145px;
  top:15px;
  background:var(--room_h2);
  font-size:15px;
  color:var(--room_hf2);
}