
#chat{
    position:relative;
    width:100%;
    height:100%;
    background:var(--room_h3);
    z-index:2;
  }
  
  
  #chat_header{
    font-size: max(18px,1.4vw);
    height: 50px;
    padding:10px;
    font-weight: 600;
    background-color:var(--room_h);
    color:var(--room_hf);
    width:100%;
  }
  
  #chat_head_A{
    align-self:flex-end;
    text-align: right;
    font-size:max(12px,1.1vw);
    width:80%;
    font-weight: 500; 
    color: var(--room_hf2);
    margin-top: 10px;
    margin-bottom:3px;
    margin-right: 5px;
  }
  
  #chat_head_B{
    align-self:flex-start;
    text-align: left;
    width:80%;
    font-size:max(12px,1.1vw);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom:3px; 
    margin-left: 5px;
    color: var(--room_hf2);
  }
  
  
  #chat_bubble_A{
    word-wrap: break-word;
    max-width: 70%;
    background-color: var(--room_bubble1);
    color:var(--room_font_b1);
    height:fit-content;
    width:fit-content;
    padding:10px;
    margin-top:2px;
    font-size:max(12px,0.9vw);
    align-self:flex-end;
    margin-right: 5px;
    border-radius: 3px;
  }
  
  #chat_bubble_B{
    word-wrap: break-word;
    background-color:var(--room_bubble2);
    color:var(--room_font_b2);
    font-weight:400;
    height:fit-content;
    padding:10px;
    max-width: 70%;
    font-size:max(12px,0.9vw);
    width:fit-content;
    margin-left:5px;
    border-radius: 3px;
  }
  
  
  #chat_bubble_block{
    height:75%;
    width:100%;
    margin-top:5px;
    background: var(--room_h3);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  #chat_input_block{
    margin-top:10px;
    width:100%;
    bottom:40px;
    position: absolute;;
  }
  
  #chat_input {
    font-size: 14px;
    background-color:var(--room_h3); 
    color:var(--room_hf2);
    padding:3px;
    width:93%;
    height:40px;
    border-radius:5px;
    margin-top:5px;
    margin-left: 5px;
    word-wrap: break-word;
    font-family:"Roboto";
    border: solid 5px var(--room_h2);
    z-index:1;
  }
  
  #chat_util {
    font-size: 20px;
    color:var(--room_hf2);
    width: 70%;
    height:40px;
    padding:5px;
    margin-top:5px;
    text-align: center;
    background-color: var(--room_h2);
    border-bottom: solid 6px var(--room_h2);
    z-index:2;
  }

  
#chat_util :hover{
    transform : scale(1.1);
  }
  
  