#join-room-page{
  background-color:var(--p20) ;
  height:120vh;
}

#bt1{
  background-color:var(--d10);
  color:white;
  padding:15px;
  margin-top:10px;
  max-width:200px;
  width:40vw;
  height:50px;
  z-index:3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#bt2{
  background-color:var(--s);
  color:white;
  padding:15px;
  margin-top:10px;
  max-width:200px;
  width:40vw;;
  height:50px;
  z-index:3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#error{
  background-color:rgb(0,0,0,0.2);
  border-radius:5px;
  color:white;
  padding:10px;
}

#button_container{
  height:50%;
  background-color: var(--p20);
  
}

#Grid1{
  height:30%;
  background-color: var(--p20);
}

#input_container{
  margin-top: 10px;
  height:250px;
  background-color:var(--p20);
}

#room_input, #name_input {
  font-size: 20px;
  background-color:white; 
  padding:15px;
  width:200px;
  height:30px;
  border:5px solid var(--d10);
  border-radius:10px;
  margin-top:10px;
  z-index: index 4;;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#title_container{
  height:10%;
  align-items: center;
  text-align:center;
  background-color:var(--p30);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#title{
  font-size: 30px;
  color:var(--d10);
  font-weight: 700;
}


#img1{
  width:35%;
  position:fixed;
  left:0;bottom:0;
  z-index:2;
}

#img2{
  width:35%;
  position:fixed;
  right:0;bottom:0;
  z-index:2;
}
