#join-room-page{
  background:var(--bg) ;
  height:100vh;;
}

#bt1{
  background-color:var(--join_p);
  color:var(--join_font);
  padding:15px;
  margin-top: 20px;
  width:min(40vw , 200px);
  height:min(10vh,50px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index:3;
}

#bt2{
  background-color:var(--join_s);
  color:var(--join_font);
  padding:15px;
  margin-top: 20px;
  width:min(40vw,200px);
  height:min(10vh,50px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index:3;
}

#button_container{
  height:50%;
  margin-top: 30px;
  margin-bottom:30px;
}


#input_container{
  align-items: center;
  height:30vh;
  border-radius: 10px;
}


#room_input, #name_input {
  font-size: 17px;
  border:5px solid var(--join_t3);
  width:80%;
  border-radius:5px;
  color:var(--join_tfont);
  padding:10px;
  margin-top: 10px;
  margin-left:3%;
  z-index:3;
}

#title_container{
  align-items: center;
  text-align:center;
  background-color:var(--join_t);
  margin-top:10px;
  height:70px;
  border-radius: 5px 5px 0px 0px;
}

#title{
  font-size: min(10vh,30px);
  color:var(--join_tfont);
  font-weight: 650;
  padding:10px;
  
}


#img1{
  width:35%;
  height:50%;
  position:fixed;
  left:0;bottom:0;
  z-index:2;
}

#img2{
  width:35%;
  height:50%;
  position:fixed;
  right:0;bottom:0;
  z-index:2;
}

#img_mobile{
  width:100%;
  height:40%;
  position:fixed;
  left:0;bottom:0;
  z-index:2;
}

#content{
  background-color: var(--join_t2);
  z-index:5;
}