#join-room-page{
  background:var(--p20) ;
  height:110vh;
}

#bt1{
  background-color:var(--d10);
  color:white;
  padding:15px;
  margin-top: 20px;
  width:min(40vw , 200px);
  height:min(10vh,50px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index:3;
}

#bt2{
  background-color:var(--s);
  color:white;
  padding:15px;
  margin-top: 20px;
  width:min(40vw,200px);
  height:min(10vh,50px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index:3;
}

#button_container{
  height:min(400px , 60vh);
  margin-top: 30px;
}

#Grid1{
  height:40%;
  background-color: var(--p20);
}

#input_container{
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}


#room_input, #name_input {
  font-size: 20px;
  border:5px solid var(--d10);
  border-radius:10px;
  color:var(--d10);
  padding:10px;
  margin-top: 10px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  z-index:3;
}

#title_container{
  height:80%;
  align-items: center;
  text-align:center;
  background-color:var(--p40);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#title{
  font-size: min(10vh,30px);
  color:var(--d10);
  font-weight: 700;
}


#img1{
  width:35%;
  height:50%;
  position:fixed;
  left:0;bottom:0;
  z-index:2;
}

#img2{
  width:35%;
  height:50%;
  position:fixed;
  right:0;bottom:0;
  z-index:2;
}

#img_mobile{
  width:100%;
  height:50%;
  position:fixed;
  right:0;bottom:0;
  z-index:2;
}