#bt1{
  background-color:#464775;
  color:white;
  padding:15px;
  margin-top:10px;
  width:200px;
  height:50px;
}

#bt2{
  background-color:#ef5350;
  color:white;
  padding:15px;
  margin-top:10px;
  width:200px;
  height:50px;
}

#error{
  background-color:rgb(0,0,0,0.2);
  border-radius:5px;
  color:white;
  padding:10px;
}

#button_container{
  height:350px;
  background-color: #BDBDE6;
}

#Grid1{
  height:200px;
  background-color: #BDBDE6;
}

#input_container{
  height:200px;
  background-color:#BDBDE6;
}

#room_input, #name_input {
  font-size: 20px;
  background-color:white; 
  padding:15px;
  width:200px;
  height:30px;
  border:5px solid #464775;
  border-radius:10px;
  margin-top:10px;
}

#title_container{
  height:20%;
  align-items: center;
  text-align:center;
  background-color:#E2E2F6;
}

#title{
  font-size: 40px;
  color:#464775;
  font-weight: 700;
}

#dummy{
  background-color:#BDBDE6;
}

#img1{
  width:40%;
  position:fixed;
  left:0;bottom:0;
}

#img2{
  width:40%;
  position:fixed;
  right:0;bottom:0;
}