#sidebar {
    flex: 0.2;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    overflow-x:hidden;
    background-color:var(--room_h3);
}

#sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    background-color:var(--room_h);
    color:var(--room_hf);
    font-size: 15px;
    font-weight:600;
    cursor:pointer;
}


#channel_menu{
    height:200px;
    margin-top:10px;
    border-bottom: 1px solid lightgray;
}


#sidebar__create{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--room_h2);
    color:var(--room_hf2);
}

.sidebar__chats {
    overflow-y: scroll;
    overflow-x:hidden;
}

