#channel_bar {
    display: flex;
    align-items: center;
    padding: 10px;
    height:60px;
    cursor: pointer;
    overflow-x:hidden;
    overflow-y:hidden;
    border-bottom: 2px solid var(--room_h2);
}

#channel_name{
    font-size:20px;
    font-weight:500;
    width:100%;
    color:var(--room_hf2);
}

#last_message{
    font-size:12px;
    font-weight: 500;
    width:100%;
    align-items: center;
    color:var(--room_hf2);
}

#channel_bar:hover {
    background:var(--room_h2);
}



