.sidebarChat {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    height:50px;
    cursor: pointer;
}

.sidebarChat:hover {
    background-color: #3e93fd;
    color: white;
}

#channel_bar{
    height:40px;
}

#channel_name{
    font-size: 20px;
}

