.theme_default{
    --p40:#F4F4FC;
    --p30:#E2E2F6;
    --p20:#BDBDE6;
    --p10:#8B8CC7;
    --p:#6264A7;
    --d10:#464775;
    --d20:#33344A;
    --s:#ef5350;
}

.theme_green{
    --p40:#e9f5ee;
    --p30:#9fcdb3;
    --p20:#4e9668;
    --p10:#3f8159;
    --p:#217346;
    --d10:#0e5c2f;
    --d20:#004b1c;
    --s:#ef5350;
}

.theme_blue{
    --p40:#e3ecfa;
    --p30:#a5b9d1;
    --p20:#4a78b0;
    --p10:#3c65a4;
    --p:#2b579a;
    --d10:#124078;
    --d20:#002050;
    --s:#ef5350;
}

